@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Almarai', sans-serif;
    text-align: right;
    font-size: 16pt;
    background-color: lightblue;
}

nav{
    overflow: hidden;
    margin-left: auto;
    background-color: rgb(0, 1, 12);
    /*
    width: 500px;
    margin: 0 auto;
    opacity: 0.75;
    */
}

nav a{
    text-decoration: none;
    padding: 14px 18px;
    font-size: 1.5rem;
    color: white;
}

nav a:hover{
    background-color: rgb(125, 57, 204);
}

.paragraph {
    background-image: url('images/image2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1920px;
    width: 100%;

    position: relative;
}

.paragraph p {
    display: inline-block;
    position: relative;
    right: 20px;
    color: azure;
}

main img {
    display: none;
}

@media only screen and (max-width: 480px), (orientation: portrait) {
    nav {
        background-color: rgb(0, 0, 0);
    }
    nav a {
        font-size: 2.5rem;
    }
    
    .paragraph {
        background-image: none;
    }

    main img {
        display: inline;
    }
}
