@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Almarai', sans-serif;
    text-align: right;
    font-size: 16pt;
    background-color: lightblue;
}

nav{
    overflow: hidden;
    width: 462px;
    margin-left: auto;
    /*margin: 0 auto;
    background-color: cadetblue;*/
    opacity: 0.75;
}

nav a{
    text-decoration: none;
    padding: 14px 18px;
    font-size: 20pt;
    color: white;
}

nav a:hover{
    background-color: rgb(125, 57, 204);
}

#logo {

}

.paragraph {
    background-image: url('images/image2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1920px;
    width: 100%;

    position: relative;
}

.paragraph p {
    display: inline-block;
    position: relative;
    right: 20px;
    color: azure;
}
